name: CI-CD Pipeline for Capstone Project

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:

  build-test:
    name: Build & Test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      # ---------- FRONTEND ----------
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install Frontend Dependencies
        working-directory: Frontend/deal-pipeline-ui
        run: npm install

      - name: Build Angular App
        working-directory: Frontend/deal-pipeline-ui
        run: npm run build

      # ---------- BACKEND ----------
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build Spring Boot Application
        working-directory: Backend/deal-pipeline/deal-pipeline
        run: mvn clean package -DskipTests

  docker-build:
    name: Docker Build
    runs-on: ubuntu-latest
    needs: build-test

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Build Docker Images
        run: docker compose build
